[Unit]
Description=Dynamic theme changer
[Service]
Type=simple
TimeoutStartSec=1
ExecStart=/usr/local/share/daynight_theme
[Install]
WantedBy=default.target
